body {
	text-align: center;
	background-color: darkred;
	color: red;
	font-size: 24;
}

h1 {
	font-size: 72;
	font-weight: bold;
}

a {
  text-decoration: none;
  color: red;
  text-align: center;
  font-size: 24pt;
  font-family: Arial;
}
.answer {
  text-decoration: none;
  color: red;
  text-align: center;
  font-size: 24pt;
  font-family: Arial;
}